[2015-02-27 16:00] ldecicco-USGS opened #9 "Explore difference between devtools and command line."
Packages from GRAN are not supporting the vignettes the same way as CRAN and gitHub were.

[2015-02-27 16:01] lawinslow commented on #9
Hmm, no clue why it's different from github, but CRAN makes sense if we simply aren't building vignettes.

[2015-02-27 17:23] ldecicco-USGS commented on #9
Works on mac and windows now.

[2015-02-27 17:23] #9 closed

[2015-02-28 18:15] jread-usgs opened #11 "Add "IPDS_id" field to the gran tsv?"
Could be either a record ID (e.g., 061003 for `laketemps`) or "none" (or NA?)

Will help support future checks for `.onAttach` disclaimer. Also, will help address concerns from @rmhirsch49

[2015-02-28 18:44] lawinslow commented on #11
We could also think about adding functionality to grantools. It wouldn't be hard to have it inject the disclaimer on any package not part of a "IPDS approved" list.

[2015-02-28 18:44] lawinslow commented on #11
Wow, I had been watching your laketemps stuff come through, I didn't realize this was on grantools. So let me rephrase that, good idea. Could either check or just inject disclaimer as needed.

[2015-02-28 19:15] jread-usgs commented on #11
would be nice to inject if needed. that makes it so we wouldn't have to show everyone how to do it.

[2015-02-28 19:17] lawinslow commented on #11
yeah, I know exactly where it would go in the workflow. The downloads from Github are uncompressed before being built. That's the moment to add the file. Would get us most of the way there.

[2015-03-11 20:26] ldecicco-USGS opened #19 "Packages that depend on GRAN packages"
I'm having trouble compiling glmtools because it depends on GLMr. The order in the text file seems right, and I think I figured out a way to do it last time (only a problem on the Mac) - but we should figure out a way to harden the script to not have to do any fiddling.

[2015-03-12 15:29] lawinslow commented on #19
Doesn't [this line](https://github.com/USGS-R/grantools/blob/master/dl_build_src_gran.R#L8) prevent that issue?

[2015-03-12 16:48] ldecicco-USGS commented on #19
Things all work correctly on my Windows computer. Things all don't work on my Mac. Is GLMr right now the only package with a GRAN dependency? I'll poke around later.

[2015-03-12 16:49] lawinslow commented on #19
Weird. Yeah, glmtools is probably the only package right now with a GRAN-only dependency. GLMr should have no GRAN dependencies though.

[2015-03-12 16:49] ldecicco-USGS commented on #19
Oh right. glmtools is what I meant, it depends on GLMr

[2015-03-16 16:16] ldecicco-USGS opened #24 "Temp folder needs clearing out?"
I updated the sources packages, and subsequently realized I had forgotten to update my version number in the description file in EGRETci. So, I updated that, cut a new release of EGRETci, updated the version in grantools...and had issues building the source. In the temp file folder, there were 2 versions of EGRETci, the old one and the new one (which naturally took me a while to troubleshoot what

[2015-03-27 22:00] ldecicco-USGS opened #28 "gitHub service issues"
gitHub is experiencing a "DDoS attack" now, and our script to run the GRAN update is having trouble downloading all the packages. I'll try again on Monday, hopefully no one needs these latest updates this weekend. This involves all 3 pull requests today (@ldecicco-usgs, @lawinslow , @dlorenz-usgs )

[2015-04-01 14:14] #28 closed

[2015-04-09 14:05] ldecicco-USGS commented on #24
still an issue. I think only on the Mac

[2015-04-09 14:51] lawinslow commented on #24
Interesting. Unlink might help address this issue (though I still wish I knew exactly what was going on, new downloads should overwrite old ones, hrmmm).

Want to try adding this around line 29?

[code]

That way, we don't delete the folder itself, just what is contained within the folder.

[2015-04-20 14:05] ldecicco-USGS opened #38 "Set up 3.2"

[2015-04-20 20:06] ldecicco-USGS commented on #38
How are we going to do this on the Mac? In Windows I can easily jump from version to version...

[2015-04-20 20:10] ldecicco-USGS commented on #38
I think the dependencies need to be on GRAN first. So I need to do this in batches.

[2015-04-20 20:36] ldecicco-USGS commented on #38
That didn't solve the problem, grrrr.....

[2015-04-20 20:45] ldecicco-USGS commented on #38
It might be that `powstreams` imports `httr`, which is being used in the script. That wasn't a problem before, but now only `powstreams` is giving me issues.

[2015-04-20 21:06] ldecicco-USGS commented on #38
If I step through by hand, and don't run `install_deps(pkgdirname)` for `powstreams`, it works. Clearly not a sustainable solution, but will get the 3.2 packages up there for now.

[2015-04-20 22:02] ldecicco-USGS commented on #38
Aaaaaaannnnnnddddd the exact same issue on the Mac.

[2015-04-20 22:04] jread-usgs commented on #38
Do we need to get a few of us to hammer out a sustainable solution here?

[2015-04-20 22:05] ldecicco-USGS commented on #38
Yes. Yes we do.

[2015-04-21 14:13] ldecicco-USGS opened #40 "Create a script to make both current binaries and one behind"
Versions of R that is...
Not sure that's even possible. If it is, super.

[2015-04-21 14:41] jread-usgs commented on #40
The old travis scripts (pre r support) may have some fruit for this if we are building on a VM or container

[2015-04-21 14:44] ldecicco-USGS commented on #40
@jiwalker-usgs : dockah?

[2015-04-21 15:01] jiwalker-usgs commented on #40
Docker is only going to help with Linux stuff.  Since Linux pretty much just does source installs, you are probably out of luck.  There might be ways to build binaries for other OSs in Linux, but probably not worth the hassle?

[2015-04-21 15:01] ldecicco-USGS commented on #40
Booo

[2015-04-21 15:02] jread-usgs commented on #40
but...you can have travis or appveyor build mac and windows binaries, and they have hooks for those artifacts. Is this a no-go route?

[2015-04-21 15:06] ldecicco-USGS commented on #40
My faith in travis and appveyor is much less than yours I think.

[2015-04-21 15:08] ldecicco-USGS commented on #40
Also, are you suggesting that the package maintainers have to set that up?

[2015-04-21 15:09] jread-usgs commented on #40
no, not at all. I am suggesting we use that to build the gran binaries. If that is possible.

[2015-04-21 15:16] ldecicco-USGS commented on #40
Well, go ahead and set up what you are trying to describe I guess.

It's not even my lack of faith in them...it's more...is that a legitimate use of those services? Don't they have time limits? Right now, we might not surpass it, but soon down the road. Also, size limits <cough>GLMr<\cough>?

It's one thing to use them to test the packages. It's another to use as a critical build element in our pr

[2015-04-21 15:20] jread-usgs commented on #40
`</cough> </cough>` I will look into it to see if it is possible. If not, I will see what others would recommend for this kind of thing.

[2015-04-23 01:51] jread-usgs commented on #40
@ldecicco-USGS looking into this, it seems that both appveyor and travis support secure keys for AWS with artifact uploads to S3 buckets.

I was having some trouble with my appveyor test build because of an unrelated issue, but here is the outcome of J Hollister's quickmapr build: https://ci.appveyor.com/project/jhollist/quickmapr/build/artifacts, which includes a windows binary. Then, using the S

[2015-04-23 02:20] jread-usgs commented on #40
Multiple versions of R for appveyor: https://github.com/krlmlr/r-portable/issues/4 and for travis: https://github.com/metacran/r-builder/blob/master/sample.travis.yml

[2015-04-23 02:42] jread-usgs commented on #40
@ldecicco-USGS to switch your R version (for local builds), you can use `Rswitch` (see "other binaries") http://r.research.att.com/

Was able to roll back to `R version 2.15.2 (2012-10-26) -- "Trick or Treat"` :)

[2015-04-27 20:16] jread-usgs commented on #38
For the record, this is an issue with a poorly formatted DESCRIPTION file.

`Error in isNamespaceLoaded(pkg) :
  attempt to use zero-length variable name`

in `devtools`:
[code]
parses a hanging comma to be an additional package. So you get unlist as
`"\nR (>= 3.0),"                                          "\nmda.streams,\nsbtools,\ndplyr,\nhttr,\ndataRetrieval"`
which becomes `"\nR (>= 3.0),,\nm

[2015-04-27 20:31] jread-usgs commented on #38
because of
[code]
but this seeeeeems to silently fail on windows, but error on mac. odd

[2015-04-27 20:43] #38 closed

[2015-04-27 21:06] jread-usgs commented on #40
Built win binary for `powstreams`: https://ci.appveyor.com/project/jread-usgs/powstreams/build/0.1.47/artifacts

[2015-04-27 21:07] lawinslow commented on #40
Which R version is this? Can you do the other too?

[2015-04-27 21:11] jread-usgs commented on #40
This is actually R.devel (3.3.0). We want to create a build matrix for oldrel, current, and devel re: https://github.com/krlmlr/r-appveyor/issues/2, and pitch in on that PR

[2015-04-27 21:17] lawinslow commented on #40
Ok, so you propose using the built artifacts coming from Appveyor and Travis for Windows and OS X builds, right? Thoughts on how to pull them all in?

[2015-04-27 21:18] jread-usgs commented on #40
from above: "using the S3 deploy in the yaml -
http://www.appveyor.com/docs/deployment/amazon-s3
with their secure variables: http://www.appveyor.com/docs/build-configuration#secure-variables
Similar exists for travis but the syntax is quite different."
Thoughts on that @lawinslow ? this was one of the other things I wanted to talk about this week.

[2015-04-27 21:27] jread-usgs commented on #19
we are good now on this, right?

[2015-04-27 21:29] ldecicco-USGS commented on #19
Let's not close it yet. I had to do a lot of futzing when updating to 3.2. Basically, one-by-one package updates to gran, in the right order. I'm sure there's a better way.

[2015-04-27 21:30] jread-usgs commented on #19
oh, I see. This is still an issue then. And is related to our earlier convo.

[2015-04-27 21:31] jread-usgs commented on #19
Odd that it worked for me on mac though. I didn't have the swmr pkgs on 3.2, and the build worked until it hit the powstreams error.

[2015-04-27 21:32] ldecicco-USGS commented on #19
Because it was up on GRAN. So, once they are up, it's fine. You can't put 2 packages up at once, where one depends on the other. Maybe that's just life.

[2015-04-27 21:59] lawinslow commented on #40
My thoughts are that this is generally a bit of a mess and that to accomplish this, we're going to have to get a bit dirty. @ldecicco-USGS has been dealing with a lot of this. Someone needs to take on the whole big picture here and start figuring out what pieces work well and what pieces we're missing. The pushing of artifacts should be easy, but there are a lot of other small bits that need to be

[2015-04-27 22:04] lawinslow commented on #19
What's the process like on CRAN? I have a feeling it has the same issue if I were to guess.

[2015-04-28 00:55] lawinslow commented on #19
Emailed Uwe, Brian and Kurt to see how CRAN does it. While writing the email, I realized it may not be impossible to create a directed graph of dependencies and traverse it in the proper order. Would also need to change how dependencies are installed (can't install from GRAN, would need to install from recently built packages locally... hmm...)

[2015-04-28 12:39] lawinslow commented on #19
Ok, reply from Brian was terse, as I should have expected. But based on his response, and some further reflection, we can solve this problem by not using binary packages for dependencies, rather, use the source packages. They build without needing dependencies.

Likely need to change how (dependencies are installed)[https://github.com/USGS-R/grantools/blob/master/dl_build_src_gran.R#L40].

[2015-04-28 12:43] jread-usgs commented on #19
can you forward email to our email accounts? just curious. but yes, this seems to make sense..?

[2015-05-12 16:19] lawinslow commented on #40
@jread-usgs @eread-usgs (Mac people), what versions of R are supported for a Mac on CRAN? I just noticed today that only r-release [is listed for Maverics](http://cran.r-project.org/web/packages/dataRetrieval/index.html). The must still support r-oldrel...

[2015-05-12 17:10] jread-usgs commented on #40
Wow, that is surprising. I feel like that is a change relative to what was up on CRAN for R 3.1.

[2015-05-12 17:27] lawinslow commented on #40
Something tells me they support 3.1, it just doesn't show up there, but who knows.

[2015-05-12 17:36] jread-usgs commented on #40
You are right. just checked w/ 3.1, and it is there.

[2015-05-14 18:34] jread-usgs opened #47 "package dependencies not installed automatically"
dealing w/ this when I switch R versions and don't have all dependencies locally. I would think the script would be installing deps, but no dice?

[2015-05-14 19:43] lawinslow commented on #47
Should be, unless someone removed it. In fact, the goal is to install all dreps from scratch and *not* use your locally installed dependencies.

[2015-05-14 19:44] jread-usgs commented on #47
@ldecicco-USGS had same issue. Let's check in on this next week.

[2015-05-14 19:44] lawinslow commented on #47
It's in dl_build_src.

[2015-05-17 18:08] lawinslow opened #49 "How do we automate GRAN maintenance?"
One of the big challenges of maintaining GRAN is supporting builds across multiple platforms and R versions with updates pushed to the GRAN repo. A few challenges (as mentioned in issue #40) are:
- How do we trigger the process on both platforms?
- Do we want every triggered build to push a new package-set? Or is there a good way to control if a triggered build uploads artifacts or not?
- What's t

[2015-05-17 18:17] lawinslow commented on #49
For this point:

We may be able to use an [AWS lambda function](https://us-west-2.console.aws.amazon.com/lambda/home?region=us-west-2#/) to pull the updated packages and push  an updated PACKAGES function. Might be do-able, 1) grab packages from S3, 2) span an [quick R process](http://dirk.eddelbuettel.com/code/littler.html), 3) push new PACKAGES file. 60 second limit may or may not be an issue.

[2015-05-17 18:18] lawinslow commented on #49
Hey @jiwalker-usgs, @jread-usgs says have a way to setup OS X build VM's. Want to weigh in? Is that something we can start trying out for builds?

[2015-05-17 19:03] jiwalker-usgs commented on #49
We discussed in the last fortnightly that rather than trying to bend travis and appveyor to our will it might make sense to just have build machines and automate the builds for the different platforms (via Jenkins or other).  I don't know much about OS X and what is involved there, but I think we can start moving on this if you agree.

[2015-05-17 19:12] lawinslow commented on #49
Absolutely. Let me know what you figure out with OS X. My original searches for virtualized OS X architecture turned up zilch, which is why I was headed along the "lean on travis" direction.

[2015-05-17 19:22] jiwalker-usgs commented on #49
Agreed that OS X virtualization is a bit of a mess, might be something here:
http://kb.vmware.com/selfservice/microsites/search.do?language=en_US&cmd=displayKC&externalId=2005793

How many different builds are we looking to support?  How many versions of OS X and how many versions of R?

[2015-05-17 19:24] lawinslow commented on #49
We'll hopefully only need one version of OS X (mavericks or >) and two versions of R (R-stable and R-oldrel, which currently are 3.2 and 3.1 respectively).

[2015-05-20 23:46] jread-usgs opened #54 "binaries for #53"
Something like this:
- [x] windows 3.1
- [x] windows 3.2
- [x] mavericks 3.1
- [x] mavericks 3.2

[2015-05-21 00:28] jread-usgs commented on #54
mavs up on drive @ldecicco-USGS close this issue when they are on AWS?

[2015-05-21 14:10] ldecicco-USGS commented on #54
Good idea.

[2015-05-21 14:11] #54 closed

[2015-05-22 18:28] jread-usgs opened #56 "package binaries for PR #55"
- [x] windows 3.1
- [x] windows 3.2
- [x] mavericks 3.1
- [x] mavericks 3.2
- [x] binaries to AWS

[2015-05-27 16:20] ldecicco-USGS commented on #56
This is now for #57

[2015-05-27 16:56] jread-usgs commented on #56
now #57

[2015-05-27 16:56] ldecicco-USGS commented on #56
Yup

[2015-05-27 16:58] jread-usgs commented on #56
Say go when we are done doing PRs today

[2015-05-27 16:58] ldecicco-USGS commented on #56
I'm done.

[2015-05-27 17:03] jread-usgs commented on #56
I'm done too

[2015-05-27 17:52] jread-usgs commented on #56
@ldecicco-USGS mac is done

[2015-05-27 18:18] #56 closed

[2015-06-01 13:38] lawinslow opened #63 "PR #62"
#62
- [x] source
- [x] windows 3.1
- [x] windows 3.2
- [ ] mavericks 3.1
- [ ] mavericks 3.2
- [ ] binaries to AWS

[2015-06-15 18:36] mhines-usgs opened #67 "Pull request #66"
https://github.com/USGS-R/grantools/pull/66

- [x] source
- [x] windows 3.1
- [x] windows 3.2
- [x] mavericks 3.1
- [x] mavericks 3.2
- [x] binaries to AWS

[2015-06-15 18:41] jread-usgs commented on #67
I am working on mac now

[2015-06-15 18:52] jread-usgs commented on #63
replaced by #66

[2015-06-15 18:52] #63 closed

[2015-06-15 18:52] jread-usgs commented on #67
mavs is up on GRAN gdrive

[2015-06-15 20:37] lawinslow commented on #67
Just put mavs on AWS.

[2015-06-15 20:37] #67 closed

[2015-06-16 20:17] mhines-usgs opened #69 "Pull request 68"
https://github.com/USGS-R/grantools/pull/68

- [x] source
- [x] windows 3.1
- [x] windows 3.2
- [x] mavericks 3.1
- [x] mavericks 3.2
- [x] binaries to AWS

[2015-06-16 20:39] jread-usgs commented on #69
mavs up on gdrive

[2015-06-17 12:10] jread-usgs commented on #69
bump

[2015-06-17 12:16] lawinslow commented on #69
@mhines-usgs is there a different update from this morning?

[2015-06-17 12:21] lawinslow commented on #69
@mhines-usgs if 2.0.4 is current, you can close this

[2015-06-17 12:23] mhines-usgs commented on #69
👍👏

[2015-06-17 12:23] #69 closed

[2015-06-18 15:26] ldecicco-USGS opened #70 "smwrStats/rloadest issue on R v3.1"
@jread-usgs couldn't install rloadest on R 3.1

Another Mac user couldn't install smwrStats:

Error in dyn.load(file, DLLpath = DLLpath, ...) :
  unable to load shared object '/Users/rhirsch/Library/R/3.1/library/smwrStats/libs/smwrStats.so':
  dlopen(/Users/rhirsch/Library/R/3.1/library/smwrStats/libs/smwrStats.so, 6): Library not loaded: /usr/local/lib/libgfortran.3.dylib
  Referenced from: /Use

[2015-06-18 15:47] lawinslow commented on #70
Which OpSys was the rloadest user on?

[2015-06-18 15:50] ldecicco-USGS commented on #70
what Mac OS? (and you mean smwrStats, right?...although it did technically start with an error in installing rloadest) I'll get the sessionInfo, but I'm fairly sure it's a relatively recent Mac OS if that's what you are asking (ie..in the mavericks family)

[2015-06-18 15:54] lawinslow commented on #70
Ok, both on Mac. Got it. It wouldn't be a bad idea to get the full system information (full OS Version and R version)

[2015-06-18 15:55] ldecicco-USGS commented on #70
Yup, waiting to hear back.

[2015-06-18 16:05] jread-usgs commented on #70
works fine on R 3.2 btw

[2015-06-18 16:16] lawinslow commented on #70
Confirmed the issue on R 3.1.1 on Yosemite (OS X 10.10.3)

[2015-06-18 18:20] ldecicco-USGS commented on #70
OS is 10.9.5

R version 3.1.3 (2015-03-09)
Platform: x86_64-apple-darwin10.8.0 (64-bit)
Running under: OS X 10.9.5 (Mavericks)

locale:
[1] en_US.UTF-8/en_US.UTF-8/en_US.UTF-8/C/en_US.UTF-8/en_US.UTF-8

attached base packages:
[1] stats     graphics  grDevices utils     datasets  methods   base

other attached packages:
[1] smwrGraphs_1.0.10 smwrBase_1.0.4    lubridate_1.3.3   EGRET_2.2.0

loaded

[2015-06-19 16:07] ldecicco-USGS commented on #70
@jread-usgs : Any idea why you couldn't install `smwrStats` but (presumably) you were the one that built that package? That just seems really weird.

[2015-06-22 17:31] jread-usgs opened #72 "PR #71 tasks"
#71

- [x] source
- [x] windows 3.1
- [x] windows 3.2
- [x] mavericks 3.1
- [x] mavericks 3.2
- [x] binaries to AWS mac
- [x] binaries to AWS win

[2015-06-22 19:11] jread-usgs commented on #72
all set for mac @ldecicco-USGS. Upload is ongoing, should be complete in 2 mins or so

[2015-06-22 20:19] ldecicco-USGS commented on #72
I think the rest are @lawinslow 's gran-bot. Right?

[2015-06-22 21:04] lawinslow commented on #72
Yeah, I thought I checked those off. What's up github?

[2015-06-22 21:04] #72 closed

[2015-06-22 21:10] jread-usgs commented on #72
I noticed that too. i thought it was because I had it open in another window and was editing too...

[2015-06-26 21:15] ldecicco-USGS commented on #70
@jread-usgs any idea if we're good now?

[2015-06-26 21:17] ldecicco-USGS opened #74 "PR #73"
#73

- [x] source
- [x] windows 3.1
- [x] windows 3.2
- [ ] mavericks 3.1
- [ ] mavericks 3.2
- [ ] binaries to AWS mac
- [x] binaries to AWS win

[2015-07-01 15:49] mhines-usgs opened #76 "Pull request 75"
https://github.com/USGS-R/grantools/pull/75
and
https://github.com/USGS-R/grantools/pull/77

- [x] source
- [x] windows 3.1
- [x] windows 3.2
- [ ] mavericks 3.1
- [ ] mavericks 3.2
- [x] win binaries to AWS
- [ ] osx binaries to AWS

[2015-07-01 16:10] jread-usgs commented on #76
Am running things on mavs 3.2 and won't be able to switch for a while. Are any of the hazards users mac users?

[2015-07-01 16:13] mhines-usgs commented on #76
@jread-usgs nope, neither Heather S or Justin.

[2015-07-01 16:13] jread-usgs commented on #76
@ldecicco-USGS and/or @lawinslow can we get the win bin up on GRAN and circle back for mac?

[2015-07-01 16:15] ldecicco-USGS commented on #76
yeah, but @lawinslow , wait on a new pull request from me.

[2015-07-01 16:15] lawinslow commented on #76
Ok, waiting....

[2015-07-01 16:42] ldecicco-USGS commented on #76
OK, good enough for now. I won't be able to get EGRET up today, so have at it.

[2015-07-01 17:29] lawinslow commented on #76
On it

[2015-07-01 18:32] lawinslow commented on #76
Windows up

[2015-07-01 23:11] mhines-usgs commented on #76
Thanks dudes!

[2015-07-06 21:01] lawinslow commented on #76
@jread-usgs @ldecicco-USGS this still open?

[2015-07-06 21:02] ldecicco-USGS commented on #76
I haven't moved any mac binaries anywhere recently

[2015-07-06 21:04] lawinslow opened #79 "PR 78"
#80

- [x] source
- [x] windows 3.1
- [x] windows 3.2
- [x] mavericks 3.1
- [x] mavericks 3.2
- [x] binaries to AWS mac
- [x] binaries to AWS win

[2015-07-07 11:23] jread-usgs commented on #76
can we add the first `gsplot` release to this too?

[2015-07-07 11:38] lawinslow commented on #76
Sure, tack it on!

[2015-07-07 12:36] jread-usgs commented on #79
now applies to #80

[2015-07-07 12:38] lawinslow commented on #79
ok, running

[2015-07-07 12:39] jread-usgs commented on #79
I am on mac

[2015-07-07 12:48] jread-usgs commented on #79
mac is up on drive for both

[2015-07-07 13:49] lawinslow commented on #79
@jread-usgs Where on drive?

[2015-07-07 13:50] jread-usgs commented on #79
https://drive.google.com/drive/folders/0Bz67-i1wbg6JTlFpMXk1a0Rla2M can you see that?

[2015-07-07 13:51] lawinslow commented on #79
Oh yeah, got it. Was looking at the "last updated" at the folder level. Still said Feb 3rd.

[2015-07-07 13:57] #79 closed

[2015-07-07 13:57] #74 closed

[2015-07-07 13:57] #76 closed

[2015-07-09 16:04] ldecicco-USGS opened #82 "PR #86"
#81

- [x] source
- [x] windows 3.1
- [x] windows 3.2
- [x] mavericks 3.1
- [x] mavericks 3.2
- [x] binaries to AWS mac
- [x] binaries to AWS win

[2015-07-10 14:46] ldecicco-USGS commented on #82
Hmmm....I could have deleted it, but I don't think I actually get a notification about the comment being edited. Just good to know for the future.

[2015-07-10 14:47] lawinslow commented on #82
Maybe checking the boxes doesn't result in an update?

[2015-07-10 14:49] ldecicco-USGS commented on #82
Yeah I think that's it, I don't see a way to change your preferences on that...but it's not a big deal, just be aware

[2015-07-14 19:03] jread-usgs commented on #82
holding off on this until someone merges #84

[2015-07-14 19:03] jread-usgs commented on #70
we are good now.

[2015-07-14 19:03] #70 closed

[2015-07-14 21:23] lawinslow commented on #82
@jread-usgs are we cool to merge #84 ?

[2015-07-14 23:50] jread-usgs commented on #82
was hoping to get Dave to run pkg check. Are we requiring zero warnings on releases, or is that a suggestion?

[2015-07-15 02:03] ldecicco-USGS commented on #82
@lawinslow  and I agreed with the original submission of smwrQW that those ".inc" warnings were pretty dumb warnings on R's part. I haven't re-checked since, but those are fine.

[2015-07-15 02:05] jread-usgs commented on #82
OK, that's all that I found for warnings. Agreed and merging.

[2015-07-15 02:05] jread-usgs commented on #82
I will build mac tomorrow am on my work comp

[2015-07-15 14:06] jread-usgs commented on #82
now for #86

[2015-07-15 14:53] jread-usgs commented on #82
I failed to build swmrQW, Stats, and rloadest for mac v3.1

Might be related to my upgrade to yosemite on the build machine..I will try to diagnose. FYI @dlorenz-usgs

[2015-07-15 14:59] jread-usgs commented on #82
related to this probably : https://github.com/Homebrew/homebrew-science/issues/1304

[2015-07-15 15:53] lawinslow commented on #82
@dlorenz-usgs I got this on windows

[code]

[2015-07-15 16:07] dlorenz-usgs commented on #82
Oops, needed update to smwrGraphs first. That pull request is now on
grantools.

On Wed, Jul 15, 2015 at 10:53 AM, Luke Winslow <notifications@github.com>
wrote:

[2015-07-15 17:58] lawinslow commented on #82
Any thoughts on this? NWIS weirdness?

[code]

[2015-07-15 18:00] jread-usgs commented on #82
I had that failure too, but figured it was goofiness with my vignettes locally.

[2015-07-15 18:02] lawinslow commented on #82
Seems like a hard failure then.

[2015-07-15 18:10] dlorenz-usgs commented on #82
I just tried the manual retrieval:

readNWISdv("01379000", parameterCd="00060",  startDate="1960-10-01",
  endDate="2014-09-30")

it worked.

On Wed, Jul 15, 2015 at 1:02 PM, Luke Winslow <notifications@github.com>
wrote:

[2015-07-15 19:09] jread-usgs commented on #82
I am in a holding pattern. Someone let me know when we are ready to build. Version is still stepped back one on this repo, so I assume we aren't ready.

[2015-07-15 19:52] lawinslow commented on #82
The dual dependency PR's make this build hard. Currently rely on GRAN for dependencies. Hence the hack commit. Trying to figure out what actually builds cleanly. Future: Need to either fix build process to not have that issue, or push through only one update at a time.

[2015-07-15 20:43] lawinslow commented on #82
Windows done.

[2015-07-15 20:57] jread-usgs commented on #82
working on mac. expecting a fail expected on 3.1, but I think we should get up 3.2 in the meantime

[2015-07-15 21:13] jread-usgs commented on #82
I've got to run for daycare pick up and still having issues w/ 3.1 mac. 3.2 mavs is up if you want to go ahead and S3 that.

[2015-07-16 13:48] jread-usgs commented on #82
troubleshooting ... :\

[2015-07-16 15:18] jread-usgs commented on #82
@ldecicco-USGS or @lawinslow macs are all up on gdrive (3.1 too) after large efforts :dart:

[2015-07-16 15:20] lawinslow commented on #82
Cool. @ldecicco-USGS Can you put these up? I'm on slightly shaky internet.

[2015-07-16 16:47] ldecicco-USGS commented on #82
I'm on it

[2015-07-17 19:20] jread-usgs opened #91 "for #95"
#90 and #92
- [x] source
- [x] windows 3.1
- [x] windows 3.2
- [x] mavericks 3.1
- [x] mavericks 3.2
- [x] binaries to AWS mac
- [x] binaries to AWS win

[2015-07-17 19:30] jread-usgs commented on #91
I had a fail on `powstreams`

[2015-07-17 19:35] lawinslow commented on #91
@jread-usgs @aappling-usgs unitted imported by powstreams. unitted needs to be on GRAN

[2015-07-17 19:38] aappling-usgs commented on #91
ugh. it needs to be on CRAN, really.

[2015-07-17 19:57] lawinslow commented on #91
yeah, either way, we need it somewhere in a CRAN-like repo. For GRAN, our original thinking was all deps need to be either CRAN or GRAN.

[2015-07-17 20:00] aappling-usgs commented on #91
ok. getting unitted up somewhere doesn't feel like a top priority for me in July. there's that issue on appveyor that i don't know how to solve, which probably makes CRAN hard to do quickly. what do y'all think?

[2015-07-17 20:05] lawinslow commented on #91
agreed. Does it build fairly cleanly for 3.1 and 3.2? Could put it on GRAN until you want to make it a priority.

[2015-07-17 20:12] lawinslow commented on #82
@dlorenz-usgs

[2015-07-17 20:13] lawinslow commented on #82
@dlorenz-usgs with the new versions of smwr** packages, rloadest no longer builds without failure.

[code]

[2015-07-17 20:16] aappling-usgs commented on #91
it does build on travis and on my machine. on my machine i can build it cleanly for 3.1.3 and 3.2.1. check runs up until testthat, but testthat gives many errors because i've written tests for known bugs.

[2015-07-17 20:21] aappling-usgs commented on #91
i just added a new release tag for unitted. should/can i now create a PR for including unitted in GRAN? is it just a one-line addition to gran_source_list.tsv, or is there something extra to do for new packages?

[2015-07-17 20:22] lawinslow commented on #91
Yeah, just the new line is needed. But will it fail on testthat?

[2015-07-17 20:25] aappling-usgs commented on #91
yes. for a long time to come.

[2015-07-17 20:25] aappling-usgs commented on #91
how important is it to us to have a new powstreams up there?

[2015-07-17 20:34] aappling-usgs commented on #91
just talked to Luke & Laura - PR coming.

[2015-07-18 19:35] lawinslow commented on #91
win up

[2015-07-19 21:34] jread-usgs commented on #91
@lawinslow how did this build for you? I have an error because `find_site_coords` isn't available from mda.streams because that version is too old (0.3.1).

[2015-07-19 21:38] lawinslow commented on #91
Ah, interesting, I had the same issue, but it didn't kill the build (not sure why).

[2015-07-19 21:41] jread-usgs commented on #91
@aappling-usgs we'll need to tag a more current version of mda.streams if we want powstreams up there. You OK with that?

[2015-07-20 12:21] aappling-usgs commented on #91
sure

[2015-07-20 12:25] aappling-usgs commented on #91
0.7.11

[2015-07-20 12:29] jread-usgs commented on #91
restarting this @lawinslow to deal w/ powstreams & mda.streams

[2015-07-20 13:57] jread-usgs commented on #91
mavericks 3.1 and 3.2 are on gdrive

[2015-07-20 15:08] lawinslow commented on #82
Stopped building vignettes. Must be included in github repo now.

[2015-07-20 15:08] #82 closed

[2015-07-20 15:08] #91 closed

[2015-07-20 15:45] dlorenz-usgs commented on #82
I did make a change to smwrQW that did have an effect on rloadest. The
problem is that the call that generated the error was not made correctly
anyway. I made the change to app4 vignette, but other changes I've made to
rloadest need to clear checking. I'll update and make a new release as soon
as those are fixed.

On Mon, Jul 20, 2015 at 10:08 AM, Luke Winslow <notifications@github.com>
wrote:

[2015-07-24 18:55] jread-usgs opened #101 "for #100"
for #100
- [x] source
- [x] windows 3.1
- [x] windows 3.2
- [x] mavericks 3.1
- [x] mavericks 3.2
- [x] binaries to AWS mac
- [x] binaries to AWS win

[2015-07-24 18:57] jread-usgs commented on #101
no vignettes?

[2015-07-24 18:57] ldecicco-USGS commented on #101
correct

[2015-07-24 18:58] lawinslow commented on #101
Gotta build 'em and include them on github

[2015-07-24 18:59] jread-usgs commented on #101
just checkin' :shipit:

[2015-07-24 19:00] ldecicco-USGS commented on #101
so if you use `devtools::build_vignettes()`...the .Rmd (or whatever) from the vignette folder will get built and all the right files will be put into inst/doc where it should be.

[2015-07-24 19:08] jread-usgs commented on #101
mavs/mac all done and on gdrive

[2015-07-24 19:09] ldecicco-USGS commented on #101
the way you do it doesn't depend on the source being up-to-date on GRAN? (the jenkins job is still chugging along)

[2015-07-24 19:28] ldecicco-USGS commented on #101
I think we're good to go.

[2015-07-24 19:28] #101 closed

[2015-07-30 22:16] ldecicco-USGS opened #103 "PR #102"
for #102
- [x] source
- [x] windows 3.1
- [x] windows 3.2
- [x] mavericks 3.1
- [x] mavericks 3.2
- [x] binaries to AWS mac
- [x] binaries to AWS win

[2015-07-31 14:56] jread-usgs commented on #103
@ldecicco-USGS mac is up on drive

[2015-07-31 15:08] #103 closed

[2015-07-31 20:53] jread-usgs opened #105 "for #104"
for #104
- [x] source
- [x] windows 3.1
- [x] windows 3.2
- [x] mavericks 3.1
- [x] mavericks 3.2
- [x] binaries to AWS mac
- [x] binaries to AWS win

[2015-07-31 21:04] jread-usgs commented on #105
mac is done @ldecicco-USGS

[2015-07-31 21:38] #105 closed

[2015-08-10 20:16] ldecicco-USGS opened #108 "PR #107"
for #107 + #109
- [x] source
- [x] windows 3.1
- [x] windows 3.2
- [x] mavericks 3.1
- [x] mavericks 3.2
- [x] binaries to AWS mac
- [x] binaries to AWS win

Going to submit another pull request in ~1 hour, will do both at the same time.

[2015-08-11 14:11] ldecicco-USGS commented on #108
@jread-usgs y'er up.

[2015-08-11 14:13] jread-usgs commented on #108
'batter up. Should have this done in 15 mins

[2015-08-11 14:13] ldecicco-USGS commented on #108
Show off

[2015-08-11 14:38] jread-usgs commented on #108
mac all up @ldecicco-USGS

[2015-08-11 14:48] #108 closed

[2015-08-14 20:30] ldecicco-USGS opened #112 "PR #111"
for #107 + #109
- [x] source
- [x] windows 3.1
- [x] windows 3.2
- [x] mavericks 3.1
- [x] mavericks 3.2
- [x] binaries to AWS mac
- [x] binaries to AWS win

[2015-08-14 21:11] ldecicco-USGS commented on #112
@jread-usgs

[2015-08-14 21:44] jread-usgs commented on #112
working on 3.2

[2015-08-14 22:21] jread-usgs commented on #112
mac is done

[2015-08-15 13:40] ldecicco-USGS commented on #112
Uploading now

[2015-08-15 13:59] #112 closed

[2015-08-26 21:24] ldecicco-USGS opened #117 "#113 - #123"
- [x] source
- [x] windows 3.1
- [x] windows 3.2
- [x] mavericks 3.1
- [x] mavericks 3.2
- [x] binaries to AWS mac
- [x] binaries to AWS win

[2015-08-26 21:46] ldecicco-USGS opened #119 "--no-build-vignettes --no-manual"
Did we decide to implement this?

[2015-08-26 21:53] lawinslow commented on #119
Implement it as in not build vignettes or to build them?

[2015-08-26 21:59] ldecicco-USGS commented on #119
I can change https://github.com/USGS-R/grantools/blob/master/dl_build_src_gran.R#L46 to:

[code]
Correct? (so we don't build them)

[2015-08-26 22:13] ldecicco-USGS commented on #117
I'm doing it by hand because of usgsEGRET not matching the repo name...and not building the vignettes.

[2015-08-26 22:16] ldecicco-USGS commented on #117
Source up, binaries in the morning

[2015-08-26 22:17] #119 closed

[2015-08-26 22:24] lawinslow commented on #119
Yeah, not sure why that wasn't already changed.

[2015-08-27 12:29] jread-usgs commented on #117
hmm...shouldn't be able to compile mda.streams or powstreams without an update to `result` vs `loadOutput` for geoknife. we'll need an update for those two.

[2015-08-27 16:37] ldecicco-USGS commented on #117
@jread-usgs

[2015-08-28 13:27] jread-usgs commented on #117
I will try 3.1 again, but it failed kind of weirdly a couple of times. 3.2 is up

[2015-08-28 13:46] jread-usgs commented on #117
mac is all good @ldecicco-USGS

[2015-08-28 14:28] #117 closed

[2015-09-18 21:27] ldecicco-USGS opened #128 "PR#125-127"
- [x] source
- [x] windows 3.1
- [x] windows 3.2
- [x] mavericks 3.1
- [x] mavericks 3.2
- [x] binaries to AWS mac
- [x] binaries to AWS win

[2015-09-19 17:42] jread-usgs commented on #128
mac 3.1 finally up @ldecicco-USGS

[2015-09-21 14:19] #128 closed

[2015-09-25 14:40] jread-usgs commented on #49
we also may need to have a validation step in this process. E.g., last week the source didn't get updated.

[2015-09-25 14:43] lawinslow commented on #49
What part of the process failed? It looks like the Jenkins job ran fine.

[2015-09-25 14:53] ldecicco-USGS commented on #49
I can't get on right now, but if you are seeing that it passed...I have absolutely no idea what is going on. I watched it fail last week on installing some dependency for EGRETci I think. Let me do it at 11:30 to make sure I haven't completely lost my mind.

[2015-10-21 14:58] jread-usgs opened #139 "set up a simple travis script that checks that the change to gran_source points to real releases?"
This could be simple, and a way to avoid manually doing it each time.

[2016-02-03 16:34] #139 closed

[2016-02-17 21:45] ldecicco-USGS opened #197 "Travis randomly fails"
"The command "Rscript -e 'deps <- devtools::install_deps(dependencies = TRUE);if (!all(deps %in% installed.packages())) { message("missing: ", paste(setdiff(deps, installed.packages()), collapse=", ")); q(status = 1, save = "no")}'" failed and exited with 1 during ."

With enough re-builds, it eventually passes, but it's annoying.

[2016-08-26 21:13] #197 closed

[2016-08-26 21:13] wdwatkins opened #247 "remove http"
![image](https://cloud.githubusercontent.com/assets/13987349/18020643/0f551dfa-6ba8-11e6-9afe-4b4052d887cc.png)

[2016-08-26 21:43] ldecicco-USGS commented on #247
Here maybe?
https://github.com/USGS-R/grantools/blob/master/R/jenkins_build_bin.R#L8

[2016-08-26 21:44] lawinslow commented on #247
Yup, those should be fixed.

[2016-08-26 21:46] lawinslow commented on #247
I think that's the only place.

We should also remove these s3 references as well.
https://github.com/USGS-R/grantools/blob/e496a85fbededa79d7599f91ec9a21c34fd80593/R/jenkins_build_bin.R#L27

We don't use R for S3 sync

[2016-09-06 20:05] wdwatkins commented on #247
@lawinslow can we get rid of the `sync` argument as well then?
https://github.com/USGS-R/grantools/blob/master/R/build_bin.R#L85

[2016-09-06 20:19] lawinslow commented on #247
Yeah, drop them. We don't use them. Not the right code anymore anyway.

[2016-09-06 20:43] #247 closed

[2016-10-28 16:04] #47 closed

[2016-10-28 16:06] #40 closed

[2016-10-28 16:06] #24 closed

[2016-10-31 19:00] ldecicco-USGS opened #272 "Package dependencies still not being installed correctly"
Currently I need to open RStudio *with my pr account*. Then install in 3.3:
[code]
Then, switch to 3.2, open RStudio again with the pr account:
[code]

We do this in the Jenkin's job:
[code]

It seems like the way that we are installing the packages (via the `system` call) means the ` Sys.getenv('R_LIBS_USER')` parts are screwing us up.

[2016-10-31 19:05] ldecicco-USGS opened #273 "GRAN packages that depend on other GRAN packages"
The order of the package installation is alphabetical. If a package (DVstats for example) requires a package (smwrStats)....we need to install smwrStats first.

Ideally, no packages should have circular dependencies.....I'd almost not bother trying to bombproof this system to handle that.

But...there are plenty of packages in GRAN that depend on each other. We need to either have a way to specify

[2016-10-31 19:11] ldecicco-USGS opened #274 "Rtools versions"
`smwrStats` (and probably others....but not *all* that have dll's) require 2 different versions of Rtools depending on if you are in R version 3.3 or 3.2. I tried pointing the PATH to 2 different versions and changing that via Jenkins but that didn't seem to work.

The workflow at the moment is install Rtools for R 3.2, open RStudio with pr account, change Global Tools R to 3.2 (if not already). T

[2016-10-31 19:13] ldecicco-USGS opened #275 "Check that there are the same number of packages on AWS as on gran_source_list.tsv"
At a minimum, we should be able to figure out a way to check that the number of packages match. Fancier would be to check that the *right* packages are up.

I'm not familiar enough with S3 stuff to know how to do this off-hand. Could be done in R...after the upload, do `available.packages`

[2016-10-31 19:14] ldecicco-USGS commented on #273
Oops, same as #19

[2016-10-31 19:14] #19 closed

[2016-10-31 19:15] ldecicco-USGS opened #276 "Automate Mac builds"

[2016-10-31 19:47] ldecicco-USGS opened #277 "Talk to rOpenSci?"
https://ropensci.org/blog/2015/08/04/a-drat-repository-for-ropensci/

[2016-10-31 19:48] ldecicco-USGS commented on #277
https://github.com/ropensci/drat

[2016-11-08 17:16] ldecicco-USGS opened #280 "Remove any instance to .Renviorn"

[2016-11-08 17:16] ldecicco-USGS commented on #280
Be explicit in where things are installed.

[2016-11-08 17:17] aappling-usgs commented on #274
maybe useful? http://stackoverflow.com/questions/37464070/install-r-rtools-from-windows-terminal

[2016-11-08 17:28] ldecicco-USGS commented on #273
Build the dependency tree and flatten to the right order.

[2016-11-08 17:32] ldecicco-USGS opened #281 "grithub"

[2016-11-09 22:03] #280 closed

[2016-11-09 22:07] ldecicco-USGS commented on #272
I think the last kazillion pull requests got this straightened out. The problem was the dependencies were only being installed within the loop of the source build. So, when we switched versions, the new version of R didn't have those dependencies installed....

[2016-11-09 22:07] #272 closed

[2016-11-09 22:07] ldecicco-USGS commented on #275
Currently checking source, and both Windows binaries. Should do for Mac if that ever gets automated.

[2016-11-09 22:07] #275 closed

[2016-11-10 18:51] #281 closed

[2016-11-10 19:12] ldecicco-USGS commented on #49
Only real lingering issue here is the same as #276

[2016-11-10 19:12] #49 closed

[2016-11-10 19:54] ldecicco-USGS opened #296 "update and install packages only with binaries"
That should hopefully prevent installation errors in things like rgdal and XML....

https://github.com/USGS-R/grantools/blob/master/R/dl_build_src_gran.R#L26

https://github.com/USGS-R/grantools/blob/master/R/dl_build_src_gran.R#L54

https://github.com/USGS-R/grantools/blob/master/R/dl_build_src_gran.R#L84

https://github.com/USGS-R/grantools/blob/master/R/dl_build_src_gran.R#L97

[2016-11-14 23:29] jiwalker-usgs commented on #273
Just a couple notes in looking at this.  We should be able to build the dependency graph using miniCRAN, and then peel off the dependencies (may need to deal with cycles yet) using igraph functions.  I'd like to be able to sneak non-published packages into this by reading the DESCRIPTION file directly.  One thing I found that can help with that is the `read.dcf` function which is used under the ho

[2016-11-15 16:24] wdwatkins commented on #276
Should just need to create a unified shell script with the contents of the R script calls in `build_GRAN_all`, incorporating version switching, and then the aws s3 sync commands.  Can then run this over ssh or in a jenkins slave.

[2016-11-18 17:15] wdwatkins commented on #277
https://github.com/richfitz/drat.builder

[2016-11-18 17:27] wdwatkins commented on #277
R s3 client: https://github.com/cloudyr/aws.s3

[2016-11-18 18:00] wdwatkins commented on #277
Drat seems to be based on automatically building nightly the latest master version of every repo in their organization, so I seems like its more intended to replace devtools github installs.  I think we want to GRAN to be a bit more selective than that, and only be updated with tagged releases.  Perhaps drat could be adapted for this, although I'm not sure what we would gain at this point

[2016-11-18 18:54] wdwatkins commented on #277
drat.builder could potentially be useful, not sure if it deals with dependencies though.

[2016-11-21 16:08] #296 closed

[2016-12-07 22:00] lindsaycarr commented on #277
Another useful feature of ROpenSci's setup is that with the AWS stuff, they are able to parse the download logs and summarize some stats for who/when/where packages are being downloaded.

[2016-12-07 22:13] ldecicco-USGS commented on #277
Luke had a script to do that, but off-hand I don't remember where the script was left (and it might have been specific to the CAWS bucket vs CHS....). Anyway, if I can't easily find his scripts, we'll probably just use those.

[2016-12-07 22:33] wdwatkins commented on #277
@lindsaycarr what package was that in?

[2016-12-07 23:52] lindsaycarr commented on #277
@wdwatkins it's the `parse_s3_logs.R` script located in rOpenSci's `drat` repo

[2016-12-13 18:57] #277 closed

[2016-12-13 18:57] ldecicco-USGS opened #308 "Email on error"
ERROR: Could not connect to SMTP host: localhost, port: 25
javax.mail.MessagingException: Could not connect to SMTP host: localhost, port: 25;

@jiwalker-usgs do you know how to get it to send us an email if the job fails?

[2016-12-13 19:00] ldecicco-USGS opened #309 "checkNumbers might need a delay"
checkNumbers is failing on the initial build with a new package. But, if you just restart a Jenkin's build, it's fine.

[2016-12-13 19:10] jiwalker-usgs commented on #308
This is a windows specific issue I think.  Basically rather than localhost smtp it should be pointing to the bison connect smtp, but that probably requires authentication.  It might be easier to enable slack integration for failures :(

[2017-01-18 18:53] ldecicco-USGS opened #325 "rHub checks"
Let's consider requiring a sucessful rHub run for new packagers.

[2017-01-18 18:56] ldecicco-USGS commented on #273
Need to flag error, and deal with cyclic dependencies

[2017-04-14 18:51] #308 closed

[2017-04-14 18:52] ldecicco-USGS opened #352 "Allow packages to fail on older versions"
Example...update to a package in R 3.3.3 breaks the build for 3.2. If it breaks, can we retain somehow the old version? Should the maintainer have to specify that's allowed?

[2017-04-14 19:04] ldecicco-USGS opened #354 "Deleting a package takes some manual intervention"

[2017-09-25 17:10] ldecicco-USGS opened #405 "Dependent packages aren't installing on build_bin()"
Not sure when that happened...

[2018-08-10 19:27] aappling-usgs opened #429 "Add a Repository: line to DESCRIPTION files"
Not sure how CRAN does this, but packages you download from CRAN come with a `Repository: CRAN` line in their DESCRIPTION file. This line is used by `packrat` to learn how to get a .tar.gz bundle from an installed package; therefore, it'd be handy for our docker-packrat projects if GRAN added this line as well (as `Repository: USGS` to be consistent with the repo naming scheme used at https://owi.

[2018-08-10 19:34] wdwatkins commented on #429
Looks like CRAN actually adds an entire block:
[code]

[2018-08-10 19:37] aappling-usgs commented on #429
Thanks - yes, CRAN does add more. Fine with me if GRAN also adds the complete block. But the only line packrat needs appears to be that Repository line

[2018-10-04 20:09] ldecicco-USGS commented on #354
Oh yeah...apparently I knew this in April 2017 but had to relearn in October 2018.

[2019-04-30 18:09] #405 closed

[2019-04-30 22:17] ldecicco-USGS opened #441 "Updating a major R version"
Here's what I currently do.

1. Install new version of R
2. Open RStudio as administrator
3. Change R version
4. Close RStudio
5. Open RStudio as administrator
6. Open project in C:/Program Files (x86)/Jenkins/jobs/CURRENT Jenkins job/workspace"
7. Run to install a bunch of the packages needed (not all....):
[code]
8. Open Jenkins (http://localhost:8080/job/CURRENT Jenkins job)
9. Copy the CURRENT

[2022-01-20 00:06] jesse-ross opened #448 "NOTICE: upcoming default branch name change"
The `master` branch of this repository will soon be renamed from `master` to `main`, as part of a coordinated change across the USGS-R and USGS-VIZLAB organizations.  This is part of a broader effort across the git community to use more inclusive language. For instance, [git](https://sfconservancy.org/news/2020/jun/23/gitbranchname/), [GitHub](https://github.com/github/renaming), and [GitLab](http

[2022-01-25 17:46] #448 closed, assigned to nobody